<!-- {% macro displayNewsList(news_list) %}


  {% for news in news_list %}
    <li>{{news.title}}</li>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 news-card">
        <img src="{{ news.poster }}" alt="{{ news.title }} poster" class="img-responsive">
        <li class="text-center">
            <a href="/news/{{news.id}}">
                {{ news.title|truncate(10)}}</a>
        </li>
    </div>

    {% endfor}
{endmacro %} -->

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ review.title}} </h2>
        <p> {{ review.review | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %}