{% extends 'base.html' %}
{% macro displayNews(news) %}
<div class="container">
{% for display in news %}

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p> {{ display.name}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p> {{ display.description}} </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <a href="/source/{{display.id}}"><p> Go to Articles</p></a>
                </div>
            </div>
        </div>

    </div>
    <hr>
    {% endfor %}
    
</div>
{% endmacro %}

       
